/* 
/////////////////////////// RESET ///////////////////////////
*/
  * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  
    
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    html {
        scroll-behavior: smooth;
    }










/* 
/////////////////////////// TOP NAV BAR ///////////////////////////
*/

    .nav {
        font-weight: 600;
    }

    .nav__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
        transition: all 0.4s;
    }
    .nav__link:hover {
        color: rgba(0, 0, 0, 1);
    }

    .nav__list {
        display: flex;
        gap: 10px;
    }

    .nav__btn {
        background-color: rgb(73, 73, 73);
        color: white;
        border-radius: 10000px;
        padding: 7px 10px;
        transition: all 0.4s;
    }

    .nav__btn:hover {
        background-color: rgb(51, 51, 51);
    }

    .header__grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1rem;
        height: 60px;
    }

    .logo {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -2px;
    }










/* 
/////////////////////////// MAIN & BODY ///////////////////////////
*/

    body {
        background-color: #111418;
        height: 1800px;
        font-family: "inter", sans-serif;
    }

    .header {
        background-color: rgba(255, 255, 255, .7);
        border-bottom: 1px rgb(89, 112, 131) solid;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 65px;
        backdrop-filter: blur(4px);
    }

    .wrapper {
        padding-top: 65px;
        color: white;
        text-align: center;
    }
   
    .page1,
    .page2,
    .page3,
    .page4 {
        height: 860px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .page2,
    .page4 {
        background-color: rgb(18, 38, 77);
    }

    .page__content {
        max-width: 500px;
    }
    .section__header {
        font-size: 40px;
    }