/* 
/////////////////////////// RESET ///////////////////////////
*/
  

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  
    
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    html {
        scroll-behavior: smooth;
    }



    /* Variables */
    :root {
        --dark: #08172b;

        /* For white background and text */
        --white: #ffffff;
    }





/* 
/////////////////////////// TOP NAV BAR ///////////////////////////
*/

.header {
    background-color: rgba(32, 32, 32, 0.849);
    border-bottom: 1px rgb(32, 74, 109) solid;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(4px);


    display: flex;
    flex-direction: row;
    align-items: center;
/*     padding: 1rem; */

    z-index: 9999;
}


.logo {
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -6px;
    margin-inline: auto;
    color: var(--white);
}
.logo::before {
    content: "<";
    color: #3399ff;
}
.logo::after {
    content: ">";
    color: #3399ff;
}






.header__buton {
    width: 150px;
    height: 200px;
    z-index: 9999;
}

.header__buton:checked {

}

.header__button div {
    background-color: var(--white);
    width: 90px;
    height: 15px;
    margin: 10px;
    border-radius: 5px;
}













/* 
/////////////////////////// MAIN & BODY ///////////////////////////
*/

    body {
        background-color: var(--dark);
        color: var(--white);
        height: 1800px;
        font-family: 'Outfit', sans-serif;
        /* font-family: 'Source Code Pro', monospace; */
        font-size: 60px;
        min-width: 450px;
    }

.main {
    padding-top: 180px;
}





/* ALL PAGES */
.page1,
.page2,
.page3 {

}
.page1__content,
.page2__content,
.page3__content {
    padding: 0rem 3rem;
}


.page1__item,
.page2__item,
.page3__item {
    padding-block: 20px;

}


/* PAGE 1  */

.page1 {
    position: relative;
}


    
.page1__content img {
    width: 100%;
    margin-inline: auto;
}

.page1::after {
    content: "";
    background-color: var(--white);
    width: 100%;
    height: 24rem;
    position: absolute;
    bottom: -1%;
    z-index: -1;
}







/* PAGE 2  */

.page2 {
/*     height: 50rem; */
    background-color: var(--white);
    color: var(--dark);
    position: relative;
    z-index: 0;
}

.page2__content {
    z-index: 0;
}


.page2__skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}


.skillsContainer__skills,
.skillsContainer__tools {
    background-color: var(--white);
    color: var(--dark);
    padding: 3rem 1rem;
    text-align: left;
    font-size: 50px;
}

.resume {
    text-align: center;
    color: var(--white);
    background-color: #3399ff;
    border-radius: 20rem;

    padding: 1rem 2rem;
    word-spacing: -3px;
    letter-spacing: -1px;
    width: 30rem;
    margin-inline: auto;
}

.resume__link {
    width: 30rem;
}

.page2::after {
    content: "";
    width: 100%;
    height: 4.5rem;
    position: absolute;
    bottom: 0%;
    background-color: var(--dark);
    z-index: -1;
}































/* PAGE 3  */



    .page3 {
        background-color: var(--dark);
        color: var(--white);
    }

    .page3 h2 {
        text-align: center;
    }

    .page3__connectContainer {
        display: flex;
        flex-direction: column;
        padding-block: 3rem;
        gap: 5rem;
    }

    .connectContainer__github {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        color: var(--white);
        font-size: 50px;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 10px 15px 5px 5px #3399ff8e;
        border: .5rem solid #3399ff8e;
    }
    
    .connectContainer__linkedin {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        color: var(--white);
        font-size: 50px;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: -10px 15px 5px 5px #3399ff8e;
        border: .5rem solid #3399ff8e;
    }

    /* Aligns the text "GitHub */
    .github__image {
        text-align: center;
    }
    /* Aligns the text "LinkedIn */
    .linkedin__image {
        text-align: center;
    }


    /* Makes linked in image not MASSIVE */
    .connectContainer__linkedin img{
        width: 100%;
        margin-inline: auto;
    }

    /* Aligns the  */
    .connectContainer__linkedin a,
    .connectContainer__github a {
        margin-block: auto;
        color: var(--white);
        text-align: center;
    }
    .connectContainer__github a {
        margin-right: 4rem;
    }
    .connectContainer__linkedin a {
        margin-left: 4rem;
    }

























/*     .page1,
    .page2,
    .page3,
    .page4 {
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: url(WebApp\ Background.png);
    }

    .page2,
    .page4 {
        background-color: rgb(18, 38, 77);
    }


    .page1__text {
        text-align: left;
        text-justify: left;
        width: 95%;
        box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.452);
        border-radius: 15px;
        padding: 20px;
        margin-inline: auto;
    }

    .page1__content {
        max-width: 100%;
        max-height: 100vh;
    }


    .page1__text 
    p, 
    h2 {
        padding: 20px;
    }

    .page1__text h2 {
        font-size: 97px;
    }


 */