/* 
/////////////////////////// RESET ///////////////////////////
*/
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}



/* Variables */
:root {
    --dark: #08172b;

    /* For white background and text */
    --white: #ffffff;

    /* Custom Blue */
    --blue: #3399ff;
}







/* Main */

.home {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    width: 15rem;
    height: 6rem;
    align-items: center;
    font-size: 50px;
    border-radius: 1rem;
    color: white;
    justify-content: center;
}
.download {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    width: 15rem;
    height: 6rem;
    align-items: center;
    font-size: 50px;
    border-radius: 1rem;
    color: white;
    justify-content: center;
}



header {
    margin-inline: auto;
    max-width: 65%;
    display: flex;
    flex-direction: row;
    padding-block: 2rem;

    justify-content: space-between;
}
.wrapper {
    margin-inline: auto;
    width: 70%;
    height: 1800px;
}

img {
    width: 100%;
}