/* 
/////////////////////////// RESET ///////////////////////////
*/
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}



/* Variables */
:root {
    --dark: #08172b;

    /* For white background and text */
    --white: #ffffff;

    /* Custom Blue */
    --blue: #3399ff;
}







/* Main */

.home {
    background-color: var(--blue) ;
    width: 15rem;
    height: 6rem;
    text-align: center;
    margin-left: 4rem;
    margin-block: 2rem;
    font-size: 80px;
}




.wrapper {
    margin-inline: auto;
    width: 100%;
    height: 1800px;
}

img {
    width: 100%;
}